<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="netconsulting.com.ec.kfcpickup">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.KfcPickup"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.ViewWebActivity"></activity>
        <activity android:name=".Activities.ReporteAActivity" />
        <activity android:name=".Activities.SearchActivity" />
        <activity android:name=".Activities.Home" />
        <activity
            android:name=".Activities.LeerQr"
            android:label="@string/title_activity_informacion" />
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.LeerQr" />
        </activity>
        <activity android:name=".Activities.Informacion">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Informacion" />
        </activity>
    </application>

</manifest>